<div class="l-flex l-flex--wrap l-flex--gap-2">
  @for (articulo of articulos; track articulo.id) {
    @if (articulo) {
      <c-articulo
        [id]="articulo.id"
        [name]="articulo.name"
        [imageUrl]="articulo.imageUrl" 
        [currentPrice]="articulo.currentPrice"
        [previousPrice]="articulo.previousPrice"
        [rating]="articulo.rating"
        [reviewCount]="articulo.reviewCount"
        [deliveryDate]="articulo.deliveryDate"
        [deliveryPrice]="articulo.deliveryPrice"
        [otherShippingOptions]="articulo.otherShippingOptions"
      ></c-articulo>
    }
  }
  @empty {
    <p>No hay artículos disponibles</p>
  }
</div>
